@model MVCBookshelf.Models.employee
@using MVCBookshelf.Content.Values

@{
    ViewBag.Title = Lang.employeesPageCreateTitle;
}

<script>
    $(function () {
        $('input[type=date]').datepicker({
            dateFormat: "dd-MMM-yy"
        });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="jumbotron">
        <div class="form-horizontal">
            <!-- Back Button -->
            <div class="btn-toolbar justify-content-lg-start">
                <p><a href="/Employees/Index" id="btn-back" class="btn btn-primary btn-lg"><i class="fa fa-arrow-left"></i></a></p>
            </div>
            <br />

            <h2>@Lang.employeesPageHeaderCreate</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.fname, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.fname, new { htmlAttributes = new { @class = "form-control col-lg", @placeholder = Lang.employeesPageFormPlaceholderFirstName } })
                    @Html.ValidationMessageFor(model => model.fname, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.minit, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.minit, new { htmlAttributes = new { @class = "form-control col-md-4", @placeholder = Lang.employeesPageFormPlaceholderMinit } })
                    @Html.ValidationMessageFor(model => model.minit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.lname, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.lname, new { htmlAttributes = new { @class = "form-control col-lg", @placeholder = Lang.employeesPageFormPlaceholderLastName } })
                @Html.ValidationMessageFor(model => model.lname, "", new { @class = "text-danger" })
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.job_id, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.job_id, new { htmlAttributes = new { @class = "form-control col-lg", @placeholder = Lang.employeesPageFormPlaceholderJobId } })
                    @Html.ValidationMessageFor(model => model.job_id, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.job_lvl, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.job_lvl, new { htmlAttributes = new { @class = "form-control col-lg", @min = "1", @placeholder = Lang.employeesPageFormPlaceholderJobLVL } })
                    @Html.ValidationMessageFor(model => model.job_lvl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pub_id, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.pub_id, new { htmlAttributes = new { @class = "form-control col-md-3", @placeholder = Lang.employeesPageFormPlaceholderPubId } })
                @Html.ValidationMessageFor(model => model.pub_id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.hire_date, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.hire_date, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                @Html.ValidationMessageFor(model => model.hire_date, "", new { @class = "text-danger" })
            </div>

            <br />
            <button type="submit" id="btn-create-submit" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> &nbsp; @Lang.buttonCreate</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}