@model IEnumerable<MVCBookshelf.Models.employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job_lvl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hire_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobs.job_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publishers.pub_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job_lvl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hire_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobs.job_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publishers.pub_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.emp_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.emp_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.emp_id })
        </td>
    </tr>
}

</table>
