@using MVCBookshelf.Content.Values
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/fontawesome")
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
</head>


<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/Images/bookshelf.png" height="30" width="30" alt="bookshelf-logo"/> @Lang.navBarTitle </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                        <i class="fa fa-search"></i>&nbsp;
                        @Lang.navBarReferences
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cogs"></i>&nbsp;
                        @Lang.navBarAdministration
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Index", "Authors")">@Lang.navBarAdministrationDropdownAuthors</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Discounts")">@Lang.navBarAdministrationDropdownDiscounts</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Employees")">@Lang.navBarAdministrationDropdownEmployees</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Jobs")">@Lang.navBarAdministrationDropdownJobs</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Publishers")">@Lang.navBarAdministrationDropdownPublishers</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Roysched")">@Lang.navBarAdministrationDropdownRoysched</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Sales")">@Lang.navBarAdministrationDropdownSales</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Stores")">@Lang.navBarAdministrationDropdownStores</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Titles")">@Lang.navBarAdministrationDropdownTitles</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "TitleAuthors")">@Lang.navBarAdministrationDropdownTitleAuthors</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div id="SpaceFromNavBar">
        <br />
        <br />
        <br />
    </div>

    <div class="container body-content">
        @RenderBody()


    </div>


    <!-- Footer-->
    <div id="SpaceFromFooter">
        <br />
        <br />
        <br />
    </div>
    <footer class="card-footer" style="padding-top:50px">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">@Lang.footerHeaderLocation</h4>
                    <p class="lead mb-0">
                        @Lang.footerDescriptionLocation
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">@Lang.footerHeaderContactDetails</h4>
                    <p class="lead mb-0">
                        @Lang.footerDescriptionContactDetails
                    </p>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">@Lang.footerHeaderAboutUs</h4>
                    <p class="lead mb-0">
                        @Lang.footerDescriptionAboutUs
                    </p>
                </div>
            </div>
            <hr>
            <div class="container"><small>Copyright &copy; Team Rocket  @DateTime.Now.Year.</small></div>
        </div>
    </footer>

</body>
</html>