@model IPagedList<MVCBookshelf.Models.discounts>
@using MVCBookshelf.Content.Values;
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = Lang.discountsPageTitle;
}

<h1 style="text-align:center">  <span class="badge badge-pill badge-dark">@Lang.discountsPageHeader</span> </h1>

@if (Model != null || Model.Count != 0)
{
    <!-- Create Button -->
    <div class="btn-toolbar justify-content-lg-start pull-right">
        <p><a href="@Url.Action("Create", "Discounts")" class="btn btn-primary btn-lg w-125"><i class="fa fa-plus"></i> &nbsp; @Lang.discountsPageButtonCreate</a></p>
    </div>

    <!-- Search Input Group -->
    <div class="row-fluid">
        <div class="form-group">

            @using (Html.BeginForm("Index", "Discounts", FormMethod.Get))
            {
                <div class="input-group " style="width:300px">
                    <input type="text" name="search" class="form-control" placeholder="@Lang.searchInputPlaceholder" />
                    <button type="submit" name="submit" class="input-group-btn ml-1 btn btn-primary"><i class="fa fa-search"></i> &nbsp; @Lang.buttonSearch</button>
                </div>
            }
            <br />
        </div>
    </div>

    <div class="card bg-primary">
        <table class="table table-curvy table-dark table-striped">
            <tr class="table-primary">
                <th>
                    @Html.DisplayNameFor(model => model.First().discounttype)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().lowqty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().highqty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().stores.stor_name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.discounttype)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lowqty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.highqty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stores.stor_name)
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="mt-5 row align-items-center justify-content-center ">
        @Html.PagedListPager(Model, i => Url.Action("Index", "Discounts", new { i, search = Request.QueryString["Search"] }))
    </div>

}
else
{
    <section>
        <div class="col-sm-12 text-center">
            <img src="~/Content/Images/nothing_found.png" style="height:40%; width:40%;" alt="No records found" />
        </div>
        <div>
            <!-- Button Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <h2 class="page-section-heading text-center text-secondary mb-0">@Lang.tablesNothingFoundHeader2</h2>
            <br />
            <h3 class="page-section-heading text-center text-secondary mb-0">@Lang.tablesNothingFoundHeader3</h3>
            <br />
            <!-- Create Button -->
            <div class="btn-toolbar justify-content-lg-center">
                <p><a href="@Url.Action("Create", "Discounts")" class="btn btn-primary btn-lg w-125 h-100"><i class="fa fa-plus"></i> &nbsp; @Lang.discountsPageButtonCreate</a></p>
            </div>
        </div>
    </section>
}