@model MVCBookshelf.Models.titles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>titles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.advance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.royalty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.royalty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ytd_sales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ytd_sales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pubdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pubdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publishers.pub_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publishers.pub_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roysched.title_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roysched.title_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.title_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
