@using MVCBookshelf.Content.Values
@{
    ViewBag.Title = Lang.homePageTitle;
}

<section>
    <div class="jumbotron">
        <!-- Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Retrieve Information</h2>

        <div class="btn-toolbar justify-content-center">
            <!-- Button Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <p data-toggle="modal" data-target="#modalContactDetailsOfAuthors"><a style="height:150px; width:200px;" class="btn btn-primary btn-lg ml-4 mr-4"> @Lang.homePageButtonContactDetailsOfAuthors</a></p>


            <!-- Modal -->
            <div id="modalContactDetailsOfAuthors" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">@Lang.homePageModalContactDetailsOfAuthorsHeader</h4>
                            <button type="button" class="close" data-dismiss="modal"><i class="bi bi-x"></i></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <label class="col-form-label" for="inputPosNum">@Lang.homePageModalContactDetailsOfAuthorsFormPosNumLabel</label>
                                <input type="text" class="form-control" placeholder="@Lang.homePageModalContactDetailsOfAuthorsFormPlaceholderPosNum" id="inputPosNum">

                                <label class="col-form-label" for="inputDateFrom">@Lang.homePageModalContactDetailsOfAuthorsFormPosNumLabel</label>
                                <input data-provide="datepicker" class="form-control" placeholder="@Lang.homePageModalContactDetailsOfAuthorsFormPlaceholderPosNum" id="inputDateFrom">

                                <div class="input-group date">
                                    <input type="text" class="form-control" value="12-02-2012">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>

                                <br />
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary btn-lg w-125 h-75" data-dismiss="modal"><i class="fa fa-search"></i> &nbsp; Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <p><a style="height:150px; width:200px;" class="btn btn-primary btn-lg ml-4 mr-4"> @Lang.homePageButtonOrderID</a></p>
        </div>
        </div>
</section>
