@model IEnumerable<MVCBookshelf.Models.ViewModels.ModelViewOrderID>
@using MVCBookshelf.Content.Values

@{
    ViewBag.Title = Lang.homePage2Title;
}

<script>
    $(function () {
        $('input[type=date]').datepicker();
    });
</script>
<div class="jumbotron">
    <!-- Back Button -->
    <div class="btn-toolbar justify-content-lg-start">
        <p><a href="/References/Index" id="btn-back" class="btn btn-primary btn-lg"><i class="fa fa-arrow-left"></i></a></p>
    </div>

    <br />
    <h2>@Lang.homePage2Header</h2>
    <hr />
    <form class="form-horizontal">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>@Lang.homePage2FormDateFromLabel</label>
                <input type="date" class="form-control" id="DateFrom" name="DateFrom">
            </div>

            <div class="form-group col-md-3">
                <label>@Lang.homePage2FormDateToLabel</label>
                <input type="date" class="form-control" id="DateTo" name="DateTo">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label>@Lang.homePage2FormStoreNameFromLabel</label>
                <input type="text" class="form-control" id="StoreNameFrom" name="StoreNameFrom" placeholder="@Lang.homePage2FormStoreNameFromLabel">
            </div>
            <div class="form-group col-md-3">
                <label>@Lang.homePage2FormStoreNameToLabel</label>
                <input type="text" class="form-control" id="StoreNameTo" name="StoreNameTo" placeholder="@Lang.homePage2FormStoreNameToLabel">
            </div>
        </div>

        <br />
        <div class="form-group">
            <button type="submit" id="btn-create-submit" class="btn btn-primary btn-lg"><i class="fa fa-search"></i> &nbsp; @Lang.buttonSearch</button>
        </div>
    </form>
</div>

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-curvy table-dark table-striped">
        <tr class="table-primary">
            <th>
                <p>ORDER ID</p>
            </th>
            <th>
                <p>ORDER DATE</p>
            </th>
            <th>
                <p>TITLE ID</p>
            </th>
            <th>
                <p>TITLE NAME</p>
            </th>
            <th>
                <p>STORE NAME</p>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ord_num)
                </td>
                <td>
                    @Convert.ToDateTime(item.ord_date).ToString("dd-MMM-yy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stor_name)
                </td>
            </tr>
        }
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}