@model MVCBookshelf.Models.stores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>stores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stor_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stor_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stor_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stor_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.stor_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
