@model MVCBookshelf.Models.titleauthor
@using MVCBookshelf.Content.Values

@{
    ViewBag.Title = Lang.titleAuthorsPageDeleteTitle;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="jumbotron">
        <div class="form-horizontal">
            <!-- Back Button -->
            <div class="btn-toolbar justify-content-lg-start">
                <p><a href="/Titleauthors/Index" id="btn-back" class="btn btn-primary btn-lg"><i class="fa fa-arrow-left"></i></a></p>
            </div>
            <br />

            <h2>@Lang.titleAuthorsPageHeaderDelete</h2>
            <h3>@Lang.titleAuthorsPageHeaderDelete2</h3>
            <hr />
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.au_id, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.au_id, new { htmlAttributes = new { @class = "form-control col-lg", @readonly = "" } })
                    @Html.ValidationMessageFor(model => model.au_id, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.title_id, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.title_id, new { htmlAttributes = new { @class = "form-control col-lg", @readonly = "" } })
                    @Html.ValidationMessageFor(model => model.title_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.au_ord, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.au_ord, new { htmlAttributes = new { @class = "form-control col-lg", @readonly = "" } })
                    @Html.ValidationMessageFor(model => model.au_ord, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.royaltyper, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.royaltyper, new { htmlAttributes = new { @class = "form-control col-lg", @readonly = "" } })
                    @Html.ValidationMessageFor(model => model.royaltyper, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />
            <button type="submit" id="btn-create-submit" class="btn btn-primary btn-lg btn-danger"><i class="fa fa-trash"></i> &nbsp; @Lang.buttonDelete</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
