@model IEnumerable<MVCBookshelf.Models.titleauthor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.au_ord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.royaltyper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.authors.au_lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titles.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.au_ord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.royaltyper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.authors.au_lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titles.title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
