@model MVCBookshelf.Models.sales

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ord_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ord_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payterms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payterms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stores.stor_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stores.stor_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titles.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titles.title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
