@model IEnumerable<MVCBookshelf.Models.sales>
@using MVCBookshelf.Content.Values;
@{
    ViewBag.Title = Lang.salesPageTitle;
}
<div class="btn-toolbar justify-content-lg-start">
    <p data-toggle="modal" data-target="#modalAddNewSale"><a class="btn btn-primary btn-lg w-125 h-75"><i class="bi bi-plus"></i> &nbsp;  Add new sale</a></p>
</div>
<!-- Modal -->
<div id="modalAddNewSale" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Titles</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="bi bi-x"></i></button>
            </div>
            <div class="modal-body">
                <form>
                    <label class="col-form-label" for="inputPosNum"></label>
                    <input type="text" class="form-control" placeholder="" id="inputPosNum">

                    <label class="col-form-label" for="inputDateFrom"></label>
                    <input data-provide="datepicker" class="form-control" placeholder="" id="inputDateFrom">

                    <div class="input-group date">
                        <input type="text" class="form-control" value="12-02-2012">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <br />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg w-125 h-75" data-dismiss="modal"><i class="fa fa-search"></i> &nbsp; Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Quantity
        </th>
        <th>
            Pay Terms
        </th>
        <th>
            Store Name
        </th>
        <th>
            Title
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ord_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payterms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stores.stor_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titles.title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
