@model MVCBookshelf.Models.authors

@using (Html.BeginForm("EditAuthor", "Authors", FormMethod.Post, new { @id = "myForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.au_id)

        <div class="form-group">
            @Html.LabelFor(model => model.au_fname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.au_fname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.au_fname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.au_lname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.au_lname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.au_lname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSubmit" submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/Authors/Index",
                data: myformdata,
                success: function () {
                    $("#modalEditAuthor").modal("hide");
                    window.location.href = "/Authors/Index";

                }

            })
        })

    })
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}